services:
  contenido-db:
    image: postgres:18.0-alpine
    container_name: contenido_db
    restart: always
    environment:
      POSTGRES_DB: contenido_postgres
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 12345
    ports:
      - "5433:5432"
    volumes:
      - contenido_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
      - ./assets:/tmp/assets
    networks:
      - contenido-network

  contenido-app:
    image: golang:1.25.3-alpine
    container_name: contenido_app
    working_dir: /app
    ports:
      - "8081:8080"
    depends_on:
      - contenido-db
    environment:
      DB_HOST: contenido-db
      DB_PORT: 5432
      DB_NAME: contenido_db
      DB_USER: user
      DB_PASSWORD: 12345
      JWT_SECRET_KEY: 12345
      GIN_MODE: debug
    volumes:
      - .:/app
    command: go run main.go
    networks:
      - contenido-network

volumes:
  contenido_data:

networks:
  contenido-network:
    driver: bridge
    external: true
    name: micro-servicios
